#close {
  background: #dc3545;
  color: white;
  font-weight: bolder;
  position: relative;
  float: right;
  border-radius: 40%;
  border: none;
  margin: 5px 5px 0 0;
}

.container {
  display: inline-block;
  background-color: #00000070;
  /*background-image: url(../lluvia.gif);*/
  text-align: center;

  border-radius: 12px;
  width: 250px;
  min-height: 250px;
  margin: 2px;
  box-shadow: 5px 5px 10px black;

}

.container img {
  position: relative;


}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.minElement {
  margin-right: 20%;
}