.NavContainer {
    background-color: #00000070;
    display: flex;
    padding: 1% 0;
    flex-wrap: wrap;

    box-shadow: 5px 5px 10px black;
}

.NavTitulo {
    margin: auto auto auto 30px;
}

.icon {
    max-width: 30px;
    max-height: 30px;
    margin-bottom: 1%;
}